* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 2px 4px 2px rgba(17, 16, 16, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
}
.header .logo {
  font-size: 30px;
  font-weight: 500;
  color: brown;
}
.header .logo-link {
  text-decoration: none;
}
.header .logo span {
  color: #009688;
}
.header nav {
  display: none;
  align-items: center;
  gap: 10px;
}
.header nav a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  color: black;
}
.header .header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header-actions .header-action-item {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: black;
  position: relative;
}
.header .header-actions .header-action-item a {
  color: black;
}
main {
  margin-top: 75px;
}
.header nav a:hover {
  color: brown;
}
#mobile-menu-btn {
  display: inline-block;
}
.product-categories {
  margin: 40px 20px;
}
.product-category-title {
  font-size: 26px;
  font-weight: 400;
}
.product-category-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 40px auto;
  gap: 40px;
}
.product-category-card {
  width: 200px;
  box-shadow: 0px 4px 4px #ccc;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.product-category-card-img {
  height: 250px;
  width: 100%;
}
.product-category-card-details {
  padding: 10px;
}
.product-category-card-title {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  font-weight: 400;
}
.product-category-card-brand {
  color: #6e6e6e;
  /* padding: 4px 8px; */
  border-radius: 20px;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 500;
}
.product-category-card-price {
  color: #009688;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
}
.product-category-card-link {
  display: flex;
  text-decoration: none;
}
.hero-carousel-item {
  height: 450px;
  position: relative;
}
.hero-carousel-item img {
  width: 100%;
  height: 450px;
  z-index: 1;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: gray;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#product-header {
  justify-content: space-between;
}
.product-details-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}
.product-details-preview {
  height: 300px;
  width: 100%;
}

.product-details-preview img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.product-details-title {
  margin-bottom: 20px;
}
.product-details-brand {
  color: brown;
  margin-bottom: 20px;
}
.product-details-label {
  font-size: 20px;
  margin-bottom: 20px;
}
.product-details-price {
  color: #009688;
  font-weight: 500;
}
.product-details-description {
  color: gray;
  margin-bottom: 20px;
}
.product-details-content {
  margin: 20px;
}
.product-details-actions {
  margin-top: 20px;
}
.product-details-action-btn {
  padding: 10px 20px;
  border: none;
  box-shadow: 4px 4px 4px #ccc;
  border-radius: 4px;
  background-color: #009688;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}

#product-previews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#product-previews .product-preview-item {
  height: 150px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid white;
}
.product-preview-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#product-previews .product-preview-item.selected {
  border: 2px solid #009688;
}

#cart-header-count {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #009688;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  font-size: 12px;
}

#cart-body {
  background-color: #f0f3f6;
  min-height: 100vh;
}
.cart-container {
  margin: 0px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 40px;
  align-items: flex-start;
}
.cart-table {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.cart-summary-wrapper{

}
.cart-summary {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.cart-products-table {
  display: flex;
  flex-direction: column;
}
.cart-item {
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
}
.cart-item-details {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart-item-photo {
  height: 200px;
  width: 160px;
  flex-shrink: 0;
}
.cart-item-photo img {
  height: 100%;
  width: 100%;
  
}
.cart-summary-heading {
  font-size: 24px;
  color: gray;
  margin-bottom: 20px;
}
.cart-item-title {
  font-size: 20px;
  font-weight: 500;
}
.cart-item-qantity {
  color: gray;
  margin: 10px 0px;
}
.cart-item-price {
  color: #009688;
  font-size: 18px;
  margin-top: 20px;
}
.cart-item-actions {
  margin-top: auto;
}
.cart-item-remove {
  border: none;
  padding: 6px 0px;
  border-radius: 4px;
  cursor: pointer;
  color: gray;
  background: transparent;
  font-weight: 500;
}
.cart-summary-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cart-summary-item-label{
  font-size: 16px;
  font-weight: 500;
  color: gray;
}
.cart-summary-item-value{
  font-size: 16px;
  font-weight: 500;
}
.cart-summary-divider{
  border-style: dashed;
  margin: 30px 0px;
  border-color:  #ccc;
}
.cart-summary-item-label-heading{
  font-size: 20px;
  font-weight: 700;
}
.cart-place-order-container{
 margin: 20px 0px;
}
.cart-place-order-container button{
  padding: 20px;
  width: 100%;
  background-color: #fb641b;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 0.5;
}
.cart-place-order-container button:hover{
  box-shadow: 4px 4px 4px #ccc;
}

@media (min-width: 720px) {
  .header {
    justify-content: space-around;
  }
  .header .logo {
    font-size: 32px;
  }
  .header nav {
    display: flex;
  }
  #mobile-menu-btn {
    display: none;
  }
  .product-categories {
    margin: 40px;
  }
  .product-details-container {
    flex-direction: row;
    padding: 70px 40px;
    gap: 60px;
  }
  .product-details-preview {
    min-width: 400px;
    max-width: 400px;
    height: 500px;
  }
  .cart-container {
    flex-direction: row;
  }
  .cart-table {
    width: 70%;
  }
  .cart-summary-wrapper {
    width: 30%;
  }
}
